body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: linear-gradient(#e61d74, #fff);
}

/*Ajusted del color del texto*/
h1,
p {
    color: #fff;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    margin-top: 50px;
}

/*Ajustes de las   clase card */
.card {
    flex: 50%;
    margin: 10px;
    border: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #e70668;
    border-radius: 8px;
    padding: 30px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: moveUp 1.5s ease-out forwards;
}

/* Efecto  al pasar el cursor */
.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Aumenta la sombra */
}

.card .content {
    flex-grow: 1;
    flex-shrink: 1;
}

.card .footer {
    background-color: rgb(199, 194, 198);
    padding: 8px;
    border-radius: 8px;
}

button {
    background-color: rgb(199, 194, 198);
    border: none;
}