
body {
font-family: sans-serif;
background: linear-gradient(#e61d74, #fff);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.from-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;

}

label {
    display: block;
    margin-bottom: 5px;
    color:  #555;

}
input {
    width: 100%;
    padding: 10px;  
    margin: 5px 0 10px;
    border:  1px solid #110f0f;
    border-radius:  4px;
    box-sizing: border-box;

}
button {
    width: 100%;
    background-color: #f1ecf1;
    color: black;
    padding: 10px;
    border:  #0c0909;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
}

button:hover {
    background-color: rgb(61, 65, 63);
}

.logo {
    align-items: left;
}